.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.title {
  color: #61256e;
  font-size: 30px;
}
.tasks {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: 1fr;
  margin: 3rem auto;
  width: 60vw;
}
.tasksCompleted,
.tasksNotCompleted {
  border: 1px solid blue;
  height: 80vh;
  overflow: scroll;
}
.tasksTitle {
  margin: 2rem 0;
  font-size: 30px;
  text-align: center;
  color: #61256e;
  font-weight: 300;
}
@media (min-width: 765px) {
  .tasks {
    grid-template-columns: repeat(2, 1fr);
  }
}
