.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 5rem;
  background-color: #61256e;
}
.title {
  margin-left: 1rem;
  font-size: 2rem;
  color: #4ec5e6;
}
.name {
  margin-left: 0.4rem;
  font-size: 1rem;
  color: #4ec5e6;
}
@media (min-width: 992px) {
  .name {
    font-size: 1.5rem;
  }
}
